*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text2 {
    width: 100px;
    height: 100px;
    font-size: 40px;
    display: inline-block;
    background-image: linear-gradient( to right,rgba(0,0,0,0.5),rgba(0,244,  255,0.5) ) ,url(https://i.pinimg.com/originals/a6/c1/21/a6c12192821902b8c9e7e5b44236df28.jpg) ;
    color: transparent;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
}

.text1 {
    max-width: 300px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    word-break: break-all
}

.card {
    width: 20rem;
    height: 60rem;
    background-color: black;
    position: relative;
}
.sale {
    font-size: 30px;
    background-color: rebeccapurple;
    position: absolute;
    top: 0;
    right: 0;
    border-radius:30px ;
}
.bar {
    width: 30rem;
    height: 1rem;
    background-color: #ccc;
    border-radius: 2rem;
    margin: 16px auto 0;
    position: relative;
}
.bar__progess {
    width: 50%;
    height: 100%;
    background-color: green;
    border-radius: inherit;
}
.bar__circle {
    height: 2rem;
    width: 2rem;
    background-color: green;
    border-radius: inherit;
    position: absolute;
    left: 50%;
    top: 50%  ;
    transform: translate(-50%,-50%);
}

.line {
    text-align: center;
    font-size: 30px;
    position: relative;
}
.line__text {
    display: inline-block;
    padding:0 16px;
    background-color: white;
    position: relative;
    z-index: 1;
}
.line::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: yellowgreen;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(50%);
}

.effect {
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    font-size: 48px;
    position: relative;
    border: 1px solid orange;
}

.effect::after {
    content: "";
    width: 0;
    height: 0;
    background-color: rgba(255, 166, 0, 0.628);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: aquamarine;
    transition: all 0.25s linear;
}

.effect:hover::after {
    width: 100%;
    height: 100%;
}
.effect:hover {
    color: white;
}
.focus {
    position: relative;
    margin-top: 16px;
}
.focus__input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition: 0.25s ease;
    outline: none;
}
.focus__label {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    user-select: none;
    pointer-events: text;
    transition: 0.25s ease;
}
.focus__input:focus {
    border-color: #65d866;
}
.focus__input:not(:placeholder-shown) + .focus__label ,/*placeholder k có j thì focus__sẽ dc cs */
.focus__input:focus + .focus__label { 
    top: 0;
    background-color: white;
    z-index: 1;
    display: inline-block;
    padding:0 12px;
    left: 2px;
}
 
.loading {
    width: 5rem;
    height: 5rem;
    position: relative;
    margin:16px auto    ;
}

.loading div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(calc(var(--value) * 45deg));
}

.loading div::before  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 4px solid red;
    filter: hue-rotate(calc(var(--value) * 45deg));
    animation: identifier 2s infinite /*chạy vĩnh viễn*/;
    animation-delay: calc(var(--value) * 0.25s);
    animation-timing-function: linear;
}

/* .loading div:nth-child(1)::before {
    filter: hue-rotate(45deg);
    animation-delay : 0.25s;
}
.loading div:nth-child(2)::before {
    filter: hue-rotate(90deg);
    animation-delay : 0.5s;
}
.loading div:nth-child(3)::before {
    filter: hue-rotate(135deg);
    animation-delay : 0.75s;
}
.loading div:nth-child(4)::before {
    filter: hue-rotate(180deg);
    animation-delay : 1s;
}
.loading div:nth-child(5)::before {
    filter: hue-rotate(225deg);
    animation-delay : 1.25s;
}
.loading div:nth-child(6)::before {
    filter: hue-rotate(270deg);
    animation-delay : 1.5s;
}
.loading div:nth-child(7)::before {
    filter: hue-rotate(315deg);
    animation-delay : 1.75s;
}
.loading div:nth-child(8)::before {
    filter: hue-rotate(360deg);
    animation-delay : 2s;
} */

@keyframes identifier {
    to {
        transform: scale(0);
    }
}

.border {
    width: 500px;
    height: 500px;
    background-image: linear-gradient( to right,hsla(260, 80%, 42%, 0.316) ,#ff6bff );
    padding: 20px;
    border-radius: 10px;
}

.boder__child {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: inherit;
}
