*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid red;
    border-inline-color: transparent;
    animation: spinner 1s  1s infinite linear ;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading-tiktok {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.load1 {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    background-color: brown;
    position: absolute;
    animation:identifier 1s infinite linear ;
    animation-delay:-0.5s ;
}
.load2 {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    background-color: green ;
    position: absolute;
    animation: identifier 1s infinite linear ;
}
.load3 {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    background-color: brown;
    position: absolute;
    animation:identifier2 1s infinite linear ;
    animation-delay:-0.5s ;
}

@keyframes identifier {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(80px);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes identifier2 {
    0% {
        transform: translate(0);
    }
    49.99% {
        opacity: 1;
        transform: translate(80px);
    }
    50% {
        opacity: 0;
        transform: translate(80px);
    }
    100% {
        opacity: 0;
        transform: translate(0);
    }
}

.loading-stagger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
}

.loading-stagger div {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    border: 4px solid red;
    animation: identifier 1s infinite linear alternate;
    animation-delay: calc(-1 * (1/4*var(--delay)));
}

@keyframes identifier {
   0% {
    transform: translate(0);
   }
    50%,100% {
        transform:translateY(20px);
    }
}

.button {
    display: inline-block;
    text-align: center;line-height: 80px;
    width: 100px;
    height: 80px;
    position: relative;
}

.button::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    top: 0;
    left: 0;
    background-color: blue;
    z-index: -1;
    transition: height 0.25s linear,width 0.25s linear 0.25s;
}

.button:hover::before {
    height: 100%;
    width: 100%;
}

.button2 {
    background-color: transparent;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    width: 100px;
    height: 80px;
    position: relative;
    outline: none;
    border: none;
}
span {
    display: inline-block;
}

span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 0;   
    background-color: blue; 
    transition: width 0.25s linear;
}
span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 2px;   
    background-color: blue; 
    transition: height 0.25s linear 0.25s;

}
span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0;   
    background-color: blue; 
    transition: width 0.25s linear 0.5s;
}span:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 2px  ;   
    background-color: blue; 
    transition: height 0.25s linear 0.75s;
}

.button2:hover span:nth-child(odd) {
    width: 100%;
}

.button2:hover span:nth-child(even) {
    height: 100%;
}

.button2::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: blue;
    z-index: -1;
    transition: all 0.25s linear 1s;
}

.button2:hover::before {
    height: 100%;
    width: 100%;
}