*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  padding: 20px;
}
.cards {
  --spacing: 32px;
  --col: 4;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
}
@media screen and (max-width: 768px) {
  .cards {
    --col: 1;
    --spacing: 15px;
  }
}

.card {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-basis: calc(100% / var(--col) - var(--spacing));
  margin-left: var(--spacing);
}
.card__image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.card-top {
  padding: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.card-title {
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.card-user {
  display: flex;
  padding: 10px 0;
  margin-top: auto;
}
.card-user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  object-fit: cover;
  flex-shrink: 0;
}
.card-user-info {
  padding-left: 20px;
  flex: 1;
}
.card-user-top {
  display: flex;
  align-items: center;
}
.card-user-top ion-icon {
  color: #20e320;
  margin-left: 5px;
}
.card-user-name {
  font-size: 14px;
  font-weight: 500;
}
.card-user-game {
  font-size: 13px;
  font-weight: 300;
  color: #ccc;
}
.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 2px solid #eee;
  margin-top: auto;
}
.card-live {
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #ff6651;
  padding: 5px 10px;
}
.card-watching {
  font-size: 13px;
  font-weight: 300;
  color: #999;
  flex-shrink: 0;
}
