@media screen and (max-width:63.9375em) {
    .buy-tickets {
        padding: 16px 25px;
    }
    .footer {
        font-size: 32px;
    }
    .footer a {
        padding: 16px 8px;
        display: inline-block;
    }
}
@media screen and (max-width:46.1875em) {
    .nav {
        display: block;
    }
    .nav > li {
        display: block;
    }
    .nav > li:first-child {
        display: inline-block;
    }
    .sub-nav {
        position: static;
    }
    .nav li .sub-nav {
        padding-left: 16px;
    }
    #header {
        overflow: hidden;
    }
    .header-search {
        display: none;
    }
    .header__mobile--menu {
        display: block;
    }
    .slider-content {
        text-shadow: 0px 0px 1px #333;
    }
    .c-col-full {
        width: 100%;
    }
    .c-full-width ,
    .tourrequired-places {
        width: 100%;
    }
    .contach-forms {
        margin-top: 16px;
    }
    .c-mt-8 {
        margin-top: 8px !important;
    }
}