/* reset Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
    color: #fff !important;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* hàng */
.row{
    margin-left: -8px;
    margin-right: -8px;
    /* overflow: hidden; */
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
/* cột */
.col {
    float: left;
    padding: 0 8px;
}

.col-thirst{
    width: calc(100% / 3);
}

.col-half{
    width: 50%;
}

.col-full {
    width: 100%;
}
.mt-16 {
    margin-top: 16px;
}

/*mar gin top 15 bot 15 */
.margin {
    margin: 15px 0;
}

/* Header */
#header {
    background-color: black;
    height: 46px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    position: fixed;
    width: 100%;
    top:0% ;
    right: 0%;
    left: 0;
    z-index: 1;
}
.nav{
    display: inline-block;
}
.nav > li {
    display: inline-block;
    line-height: 46px;
    position: relative;
}
.nav > li > a{
    color: #fff;
    padding: 0 24px;
    text-transform: uppercase;
    display: block;
}
.nav li:hover > a {
    background-color: #ccc;
    color: #333;
}
.nav li:hover .sub-nav{
    display: block;
}
.sub-nav {
    background-color: #fff;
    position: absolute;
    min-width: 160px    ;
    display: none;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.sub-nav li {
    line-height: 1.5;
}
.sub-nav a {
    display: block;
    width: 100%;
    color: black;
    padding: 8px 16px;
}
/* header-search */ /*mobile menu*/
.header__mobile--menu,
.header-search{
    float: right;
    line-height: 46px;
    padding: 0 24px;
    appearance: none;
}
.header-search:hover {
    background-color: #f44336;
    cursor: pointer;
} 
.menu {
    color: #fff;
}
.header__mobile--menu {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .header__mobile--menu:hover .menu {
    color: #000;
}
#header .header__mobile--menu:hover {
    background-color: #757575;
}
/*slider*/
#slider{
    background: url("../img/slider1.jpg") top center / cover no-repeat;
    padding-top: 50%;
    margin-top: 46px;
    position: relative;
}
.slider-content{
    position: absolute;
    bottom: 0cm;
    width: 100%;
    text-align: center;
    padding: 32px 16px;
}
.content-paragraph{
    margin: 15px 0;
}
.content-places{
    margin: 10px 0 ;
    font-weight: 400;
}
/*Band*/
.Band {
    color: black;
}
.section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}
.head-section{
    text-align: center;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 30px;
    margin: 10px 0;
}
.sub-section{
    text-align: center;
    opacity: 0.6;
    margin: 25px 0;
}

.paragraph-section{
    text-align: justify;
    line-height: 1.5;
    margin: 15px 0 0;
}
/*band member*/
.band-list {
    padding: 16px 0 32px;
}
.band-members {
    text-align: center;
}
.member-name{
    margin: 15px 0;
}
.member-img{
    width: 60%;
    margin: 0 0 16px;
    border-radius: 4px;
}
/*contach*/
.tour-section{
    background-color: black;
}
.tickets-list {
    padding: 15px 0 0;
}
.tickets-list .ticket-month {
    color: #757575;
    background-color: #fff;
    padding: 8px 16px;
    border-bottom: 1px solid #757575;
}

.sold-out {    
    margin: 0 0 0 16px;
    color: white;
    background-color: red;
    padding: 4px 8px;

}

 .ticket-number {
    float: right;
    margin: 0 16px 0 0;
    padding: 2px 8px;
    border-radius: 50%;
    background-color: black;
    color: white;
    transform: translateY(-2px);
}
/* tour img */
.tour-list {
    margin-top: 16px;
}
.tour-img{
    width: 100%;
    display: block;
}
.tour-img:hover{
    opacity: 0.6;
}
.tour-content{
    background-color: #fff;
    color: black;
    padding: 0.15px 16px;
}
.tour-name{
    font-weight: 400;
    font-size: 15px;
}
.tour-time{
    opacity: 0.6;
    font-weight: normal;
}
.buy-tickets {
    margin: 0 0 16px;
    padding:10px 16px ;
    font-size: 15px;
    color: #fff;
    border: none;
    background-color: black;
    text-align: center;
}
.buy-tickets:hover {
    color: black;
    background-color: #757575;
    cursor: pointer;
}
/* modal */
.modal.open {
    display: flex;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.3) ;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background-color: white ;
    width: 80%;
    animation: slowMosion ease .5s;
}
.modal-header{
    background-color: #009688;
    text-align: center;
    padding: 45px 16px;
    font-size: 30px;
    position: relative;
}

.modal-header .close{
    position:absolute ;
    top: 0;
    right: 0%;
    font-size: 24px;
    background-color: #009688;
    padding: 16px 16px;
}
.modal-header .close:hover{
    background-color: #ccc ;
    cursor: pointer;
    color: #333;
}
.modal-name p {
    display: inline-block;
    letter-spacing: 4px;
    padding-left: 16px;
}
.modal-body{
    padding: 0.15px 16px;
}
.modal-something{
    color: black;
    margin: 25px 0 15px;
}
.modal-input{
    padding: 8px;
}
.modal-pay {
    margin: 16px 0;
    background-color: #009688;
    padding: 16px;
    border: none;
    color: #fff;
}
.modal-pay:hover{
    cursor: pointer;
    color: black;
    background-color: #ccc;
}

.modal-something , .modal-input ,.modal-pay{
    display: block;
    width: 100%;
}
.modal-footer {
    color: black;
    margin: 15px 0;
    float: right;
}
.modal-footer a{
    color: #2196f3;

}

@keyframes slowMosion {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0);
    }
}

/* contach */
.Contach {
    color: black;
}
.contach-all {
    padding: 32px 0;
}
.contach-information {
    font-size: 22px;
    line-height: 2;
}
.icons {
    padding-right: 16px;
}
.contach-form {
    padding: 15px 12px;
    width: 100%;
}
.contach-full {
    margin: 10px 0;
}

.contach-send {
    float: right;
    color: #fff;
    padding:  16px 25px;
    margin: 16px 0;
    background-color: #333;
    border: none;
}
.contach-send:hover {
    color: black;
    background-color: #757575;
    cursor: pointer;
}

/* map */
.map-img {
    width: 100%;
}
.footer {
    background-color: #fff;
    padding: 64px 16px;
    text-align: center;
    color: #757575;
    font-size: 20px;
}

.footer p {
    margin: 15px 0;
}
.footer p a {
    color: #757575;
}