* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    padding: 0 32px;
}
.sidebar {
    width: 300px;
}
.content {
    flex: 1;
}
.item {
    margin-top: 16px;
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    background-color: orange;
    min-height: 80px;
    line-height: 80px;
}

@media screen and (max-width:1023px) {
    .hide__on-mobile {
        display: none;
    }
    .hide__on-tablet {
        display: none;
    }
}