:root {
  --primary-color: #ee4d2d;
  --white-color: white;
  --black-color: black;
  --text-color: #333;
  --border-color: #dbdbdb;
  --header: 120px;
  --header-nav: 33.5px;
  --header-with-search: calc(var(--header) - var(--header-nav));
  --header-sort-bar-height: 46px;
  --row: 8px;
  --col: 8px;
}

* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  line-height: 1.6rem;
}

.grid__full-width {
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    transform: scale(var(--scale-from));
  }
  to {
    transform: scale(var(--scale-to));
  }
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  animation: identifier ease-in 0.1s;
}

.modal__body {
  --scale-from: 0.7;
  --scale-to: 1;
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  overflow: hidden;
  width: 40%;
  animation: scale linear 0.1s;
}
.btn {
  text-decoration: none;
  min-width: 142px;
  color: var(--text-color);
  text-align: center;
  font-size: 1.5rem;
  border: none;
  display: inline-block;
  border-radius: 2px;
  line-height: 2;
  cursor: pointer;
}

.select-input {
  position: relative;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
}
.select-input__label {
  font-size: 1.4rem;
}

.select-input__list {
  list-style: none;
  background-color: var(--white-color);
  position: absolute;
  display: none;
  right: 0%;
  left: 0%;
  top: 25px;
  padding: 8px 16px;
  margin: 10px 0;
  z-index: 2;
}
.select-input__list::before {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  height: 10px;
  top: -1px;
  cursor: pointer;
}
.select-input:hover .select-input__list {
  display: block;
}

.select-input__link {
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 4px 0;
}
.select-input__link:hover {
  color: var(--primary-color);
}
/*pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}
.pagination-item {
  margin: 0 12px;
}
.pagination-item__link {
  --height: 30px;
  text-decoration: none;
  font-size: 2rem;
  color: #939393;
  min-width: 40px;
  display: block;
  font-weight: 300;
  text-align: center;
  border-radius: 2px;
  height: var(--height);
  line-height: var(--height);
}

.pagination-item--active .pagination-item__link {
  background-color: var(--primary-color);
  color: var(--white-color);
}
