*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*header navbar */
.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
}
.header__nav-item-link,
.header__nav-log,
.header__nav-item {
  list-style: none;
  text-decoration: none;
  margin: 2px 8px;
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: 300;
}
.header__nav-icon {
  margin: 0 2px;
  color: var(--white-color);
}
.header__nav-log {
  font-weight: 400;
}
.header__nav-item {
  position: relative;
}
.header__nav-log:hover,
.header__nav-item:hover,
.header__nav-icon:hover,
.header__nav-item-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}
.header__nav--no-pointer {
  cursor: text;
  color: var(--white-color);
}
.header__nav-item--straight::after {
  content: "";
  position: absolute;
  border-left: 1px solid #fb9086;
  width: 1px;
  height: 16px;
  right: -8px;
  top: 14%;
  transform: translateY(-14%);
}
.header__nav-qr {
  position: absolute;
  width: 186px;
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 0.1) 0px 1px 2px 0px;
  top: 85%;
  left: 0;
  overflow: hidden;
  padding: 8px;
  background-color: white;
  display: none;
  animation: fadeIn 0.3s ease-in;
  z-index: 2;
}
/* header qr */
.header-nav__qr-code {
  width: 100%;
  object-fit: cover;
}
.header-nav__produce {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__produce-name {
  height: 16px;
  font-size: 1.3rem;
  object-fit: cover;
}
.header-nav__produce-link:nth-child(1) {
  margin-left: 10px;
}
.header-nav__produce-link:nth-child(2) {
  margin-right: 10px;
}
.header__nav-item--qr {
  padding-bottom: 10px;
}
.header__nav-item--qr:hover .header__nav-qr {
  display: block;
}
/*header notifier*/
.header__notifier {
  width: 404px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--white-color);
  position: absolute;
  right: 8px;
  border-radius: 2px;
  display: none;
  animation: identifier 0.3s ease-in-out;
  will-change: opacity, transform;
  transform-origin: calc(100% - 20px) top;
  z-index: 1;
  top: calc(100% - 4px);
}
.header__notifier::before {
  content: "";
  border-style: solid;
  border-width: 20px 28px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 14px;
  top: -30px;
  z-index: 1;
}
.header__notifier-title {
  margin-left: 12px;
  padding: 8px;
  color: #999;
}

.header__notifier-item--viewed {
  background-color: #fef1ee;
}
.header__notifier-link {
  display: flex;
  text-decoration: none;
  padding: 12px;
}
.header__notifier-body-img {
  object-fit: contain;
  width: 50px;
}
.header__notifier-info {
  margin-left: 12px;
}
.header__notifier-desc,
.header__notifier-name {
  display: block;
  color: var(--black-color);
}
.header__notifier-name {
  font-weight: 500;
  font-size: 1.4rem;
}
.header__notifier-desc {
  color: rgb(117 111 110);
  font-size: 1.2rem;
  margin-top: 4px;
}

.header__notifier-footer-btn {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 8px 12px;
  color: var(--black-color);
  font-weight: 300;
}

.header__nav-item:hover .header__notifier {
  display: block;
}
@keyframes identifier {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* header login and register */
.auth-form__inner {
  background-color: white;
  padding: 20px 32px;
}
.auth-form__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.auth-form__heading {
  font-size: 1.8rem;
  cursor: pointer;
  margin-left: 12px;
}
.auth-form__switch-btn {
  font-size: 1.4rem;
  color: var(--primary-color);
  font-weight: 500;
  align-self: end;
  cursor: pointer;
  margin-right: 12px;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding: 0 16px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}
.auth-form__input:focus {
  border-color: #888;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  padding: 0 10px;
  text-align: center;
  word-spacing: 4px;
}
.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}
.auth-form__controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 64px;
}
.btn.btn--normal {
  color: #333;
  background-color: white;
}
.btn.btn--normal:hover {
  background-color: #c3c3c3;
}
.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.btn--size-s {
  font-size: 1.6rem;
}
.auth_form__socials {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 10px 32px;
}
.btn--witch-icon {
  font-size: 1.8rem;
}
.auth_form__socials-icon {
  margin-left: 8px;
}

.auth_form__socials-title {
  padding: 0 20px;
}
.auth_form__socials--facebook {
  background-color: #3a5a98;
}
.auth_form__socials--google {
  background-color: white;
  color: #888;
}
.auth-form__help {
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
}
.auth-form__help-link {
  text-decoration: none;
  color: #939393;
}
.auth-form__help-link--primary {
  color: var(--primary-color);
}
.auth-form__help--straight {
  width: 1px;
  height: 22px;
  border-left: 1px solid var(--border-color);
  margin: 0 10px;
}

/*header with search */
.header-with-search {
  height: var(--header-with-search);
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.header__logo {
  width: 200px;
}
.header__logo-img {
  width: 150px;
}
.header__logo-link {
  text-decoration: none;
}
.header__search {
  height: 40px;
  flex: 1;
  background-color: white;
  display: flex;
  border-radius: 2px;
  align-items: center;
}
.header__search-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}
.header__input {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  border: none;
  padding: 0 12px;
  border-radius: 2px;
}
.header__search-history {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: calc(100% - 20px);
  border-radius: 2px;
  position: absolute;
  left: 0%;
  top: calc(100% + 2px);
  display: none;
  z-index: 2;
}
.header__input:focus ~ .header__search-history {
  display: block;
}
.header__search-history-heading {
  color: #888;
  margin: 6px 12px;
  font-size: 1.4rem;
  font-weight: 400;
}
.header__search-history-list {
  list-style: none;
}
.header__search-history-item:hover {
  background-color: #fafafa;
}
.header__search-history-item a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  padding: 0 12px;
  line-height: 38px;
  display: block;
}
.header__search-select {
  font-size: 1.4rem;
  border-left: 2px solid var(--border-color);
  padding: 0 16px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}
.header__search-label {
  margin-right: 10px;
}
.header__search-option {
  list-style: none;
  position: absolute;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 140px;
  right: 0;
  top: 30px;
  display: none;
  animation: fadeIn 0.3s ease;
  z-index: 3;
}
.header__search-option::after {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  right: 0;
  top: -20px;
}
.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-option-icon {
  color: var(--primary-color);
  margin-left: 10px;
}
.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.header__search-option-item {
  padding: 10px 16px;
}
.header__search-btn {
  border: none;
  background-color: var(--primary-color);
  height: 34px;
  width: 60px;
  margin-right: 3px;
  cursor: pointer;
  border-radius: 2px;
}
.header__search-btn:hover {
  background-color: #fb6445;
}
.header__search-btn-icon {
  font-size: 1.6rem;
  color: var(--white-color);
}
.header__cart-list {
  width: 400px;
  position: absolute;
  right: -14px;
  top: calc(100% + 6px);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
  display: none;
  cursor: default;
  animation: fadeIn 0.3s ease;
  z-index: 2;
}
.header__card-wrap:hover .header__cart-list {
  display: block;
}
.header__cart--no-cart .header__cart-no-cart-img,
.header__cart--no-cart .header__search-no-cart {
  display: block;
}
.header__cart-no-cart-img {
  width: 54%;
  margin: auto;
  display: none;
}
.header__search-no-cart {
  font-size: 1.4rem;
  padding: 10px 12px;
  display: none;
}

.header__cart {
  width: 150px;
  text-align: center;
}
.header__card-wrap {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
}
.header__cart-list::before {
  content: "";
  position: absolute;
  border-width: 20px 25px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  right: 0px;
  top: -30px;
  cursor: pointer;
}

.header__cart-icon {
  color: var(--white-color);
  font-size: 2.5rem;
}
.header__cart-number {
  position: absolute;
  font-size: 1.4rem;
  line-height: 1.5rem;
  padding: 1px 7px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  background-color: var(--white-color);
  color: var(--primary-color);
  top: -12px;
  right: -16px;
}
.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
.header__cart-product-list {
  max-height: 56vh;
  overflow-y: scroll;
}
.header__cart-list-item {
  display: flex;
}
.header__cart-img {
  width: 42px;
  height: 42px;
  object-fit: contain;
  margin: 12px;
  border: 1px solid #e8e8e8;
}
.header__cart-item-info {
  flex: 1;
  align-self: center;
  margin-right: 15px;
}
.header__cart-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  flex: 1;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  padding-right: 16px;
}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}
.header__cart-item-multiply {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}
.header__cart-item-qnt {
  font-size: 1.2rem;
  color: #757575;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}
.header__cart-item-desc {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}
.header__cart-item-remove {
  color: var(--text-color);
  font-size: 1.4rem;
}
.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover {
  background-color: #f05d41;
}
/*header-nav-user */
.header__nav-user {
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 300;
  list-style: none;
  margin: 2px 8px;
  display: flex;
  position: relative;
}
.header__nav-user-avatar {
  width: 22px;
  height: 22px;
  border-radius: 100rem;
  display: inline-block;
  object-fit: cover;
  margin-right: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__nav-user-menu {
  position: absolute;
  list-style: none;
  width: 160px;
  background-color: white;
  box-shadow: 0 1px 2px #e0e0e0;
  top: calc(100% - 3px);
  right: 0%;
  z-index: 1;
  border-radius: 2px;
  display: none;
}
.header__nav-user-menu::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 4px;
  top: -29px;
  z-index: -1;
}
.header__nav-user:hover .header__nav-user-menu {
  display: block;
}

.header__nav-user-item--separate {
  border-top: 1px solid rgba(149, 157, 165, 0.3);
}
.header__nav-user-item a {
  text-decoration: none;
  color: var(--black-color);
  display: block;
  padding: 4px 12px;
}
.header__nav-user-item a:hover {
  background-color: #fafafa;
}
.container {
  background-color: #f5f5f5;
  padding-top: 36px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}
.category__heading {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 16px 16px 10px;
  border-bottom: 1px solid #939393;
  text-transform: uppercase;
}
.category__heading-icon {
  margin-right: 10px;
}

.category-list {
  list-style: none;
  padding-bottom: 8px;
  margin: 10px 0;
}
.category-item {
  position: relative;
  left: 0;
  transition: 0.2s linear;
}

.category-item--active .category-item__link::before {
  position: absolute;
  content: "";
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.category-item__link {
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 6px 20px;
  line-height: 15px;
  position: relative;
}
.category-item__link::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #e1e1e1;
  top: 0;
  left: 20px;
  right: 20px;
}
.category-item:hover {
  left: 4px;
}
.category-item:hover .category-item__link,
.category-item--active .category-item__link {
  color: var(--primary-color);
}

.home-filter {
  display: flex;
  background-color: rgba(0, 0, 0, 0.04);
  align-items: center;
  border-radius: 2px;
  padding: 12px 22px;
}
.home-filter__label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}
.home-filter__btn {
  min-width: 90px;
  margin-right: 12px;
}

.home-filter__page {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.home-filter__page-num {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter__page-currer {
  color: var(--primary-color);
}
.home-filter__page-controls {
  width: 72px;
  height: 36px;
  background-color: var(--white-color);
  display: flex;
  border-radius: 2px;
  overflow: hidden;
}
.home-filter__page-btn {
  text-decoration: none;
  display: flex;
  flex: 1;
}
.home-filter__page-icon {
  margin: auto;
  font-size: 1.3rem;
}
.home-filter__page-btn:nth-child(1) {
  border-right: 1px solid #eee;
}
.home-filter__page-btn--disable {
  cursor: default;
  background-color: #f9f9f9;
}

.home-filter__page-btn--disable .home-filter__page-icon {
  color: #ccc;
}

/*product item */
.home-product {
  margin-bottom: 10px;
}
.home-product-item {
  display: block;
  position: relative;
  text-decoration: none;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  transition: transform 0.2s ease-in;
  will-change: transform;
  margin-top: 8px;
}
.home-product-item:hover {
  box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
  transform: translateY(-1px);
}
.home-product-item__img {
  padding-top: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.home-product-item__title {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 10px 10px 6px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home-product-item__price {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.6rem;
}
.home-product-item__old-price {
  margin-left: 10px;
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
}
.home-product-item__curren-price {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}
.home-product-item__action {
  justify-content: space-between;
  display: flex;
  margin: 6px 10px 0;
  align-items: center;
}
.home-product-item__like {
  font-size: 1.4rem;
}

.home-product-item__like-icon-fill {
  display: none;
  color: var(--primary-color);
}
.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}

.home-product-item__rate {
  color: #d5d5d5;
  font-size: 0.6rem;
  margin-left: auto;
}
.home-product-item__star--gold {
  color: #ffce3e;
}
.home-product-item__origin {
  display: flex;
  margin: 3px 10px 0;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}
.home-product-item__origin-name {
  margin-left: auto;
}
.home-product-item__favourite {
  position: absolute;
  top: 8px;
  left: -8px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: 500;
}
.home-product-item__favourite::after {
  content: "";
  position: absolute;
  border-top: 7px solid currentColor;
  border-left: 7px solid transparent;
  left: 0;
  top: 100%;
  filter: brightness(60%);
}
.home-product-item__favourite span {
  margin-right: 4px;
  color: var(--white-color);
}
.home-product-item__favourite i {
  margin: 0 4px;
  color: var(--white-color);
}

.home-product-item__sale-off {
  width: 40px;
  height: 36px;
  background-color: rgba(255, 216, 64, 0.94);
  position: absolute;
  top: 0%;
  right: 0%;
  border-top-right-radius: 2px;
}
.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 20px 6px 20px;
  border-color: transparent rgba(255, 216, 64, 0.94) transparent
    rgba(255, 216, 64, 0.94);
  right: 0%;
  top: 100%;
}
.home-product-item__sale-off-percent {
  display: block;
  text-align: center;
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.2rem;
  position: relative;
  top: -1px;
}
.home-product-item__sale-off-label {
  display: block;
  text-align: center;
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.8rem;
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}
.home-product__pagination {
  margin: 48px 0 32px;
}

/* footer */
.footer {
  padding-top: 16px;
  border-top: 4px solid var(--primary-color);
  background-color: var(--white-color);
}
.footer__title {
  margin: 14px 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
}
.footer-list {
  list-style: none;
}
.footer-item {
  line-height: 2rem;
  height: 2rem;
}
.footer-item__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
}
.footer-item__link:hover {
  color: var(--primary-color);
}
.footer-item__icon {
  font-size: 1.6rem;
  margin: -1px 8px 0 0;
}

.footer__download {
  display: flex;
  align-items: center;
}
.footer__download-qr {
  width: 80px;
  height: 80px;
  border: 1px solid var(--border-color);
}
.footer__download-apps {
  margin-left: 16px;
}
.footer__download-apps-link {
  display: inline-block;
}
.footer__download-app-img {
  font-size: 10px;
  height: 16px;
}
.footer__bottom {
  padding: 8px 0;
  background-color: #f5f5f5;
  margin-top: 36px;
}

.footer__text {
  text-align: center;
  font-size: 1.2rem;
  color: #737373;
}
