/* mobile and table */
@media screen and (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }
  :root {
    --header: 54px;
    --header-nav: 0px;
  }
  .header {
    position: fixed;
    top: 0%;
    right: 0;
    left: 0;
    z-index: 10;
  }
  .container {
    margin-top: calc(var(--header) + var(--header-sort-bar-height));
    padding-top: 8px;
  }
  .header__cart-list {
    position: fixed;
    width: 100%;
    left: 0;
    top: var(--header);
    z-index: 10;
  }
  .header__cart-list::before {
    display: none;
  }
  .header__sort-bar {
    display: flex;
  }
  .mobile-category {
    display: block;
  }
  .mobile-category__list {
    margin: 10px 0;
  }
}

/* table */
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
  .header__cart {
    width: 80px;
    text-align: right;
  }
  .header__cart-list {
    padding: 0 calc((100% - 644px) / 2);
  }
}

/*mobile */
@media screen and (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  .header__search {
    position: fixed;
    top: var(--header);
    left: 0%;
    right: 0;
    padding: 0 16px;
    height: 50px;
    z-index: 10;
    display: none;
    animation: slideDown linear 0.3s;
  }
  .header-with-search {
    justify-content: space-between;
  }
  .header__search-history {
    position: fixed;
    width: 100%;
    top: calc(var(--header-height) + var(--header-sort-bar-height));
    left: 0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
  }
  .header__mobile-search {
    display: block;
  }
  .header__logo {
    width: auto;
  }
  .header__logo-img {
    width: 110px;
  }
  .header__cart {
    width: 75px;
  }
  .header__moblie-btn-search:checked ~ .header__search {
    display: flex;
  }
  .mobile-category__item:first-child {
    margin-left: 8px;
  }
  .app-container {
    margin: 0 4px;
  }
  .pagination-item {
    margin: 0;
  }
  .pagination-item__link {
    min-width: 35px;
  }
  .footer__content {
    padding-left: 16px;
  }

  .footer__title {
    text-align: center;
  }
  .footer__download,
  .footer-item__link {
    justify-content: center;
  }
  .footer__download-apps-link {
    display: block;
    padding: 8px 12px;
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
